.newInvoice{
    margin-left: -25px;
    margin-right: -25px;
    background: #fff;
    padding: 10px;
    .invoiceView{
        padding: 20px;
        border: 1px solid #E6E8EE;
        border-radius: 10px;
    }
    .top-head{
        display: flex;
        margin-bottom: 20px;
        .heading{
            display: flex;
            align-items: center;
            flex: 1;
            h3{
                margin: 0;
            }
        }
        .actionBtns{
            // .customBtn{
            //     text-align: center;
            //     padding: 4px 10px;
            //     background: #00AAFF;
            //     color: #fff;
            //     min-width: 85px;
            //     border-radius: 30px;
            //     min-height: 39px;
            //     font-weight: 500;
            //     font-size: 14px;
            //     border: none;
            // }
            .cancel{
                color: #333;
                background-color: #fff;
                border-color: #eaeaea;
            }
        }
    }
    .top-customer{
        p{
            font-size: 18px;
        }
    }
    .invoiceNumber{
        padding: 0 80px;
        margin-bottom: 20px;
        p{
            text-align: right;
        }
    }
    .invoiceDetail{
        .max-w100 {
            width: 100px;
        }
        .max-w50 {
            width: 50px;
        }
        .custom-input {
            border: none;
            box-shadow: none;
            height: auto;
            padding-top: 0;
        }
    }
    .invoiceTotals{
        display: flex;
        justify-content: flex-end;
        margin-top: 60px;
        .totals{
            width: 160px;
            text-align: center;
            padding: 5px 20px;
            border: 1px solid #eee;
            justify-content: right;
        }
        .m0{
            margin: 0;
        }
    }
    .br-custom{
        border-right-color: #00AAFF;
    }
    .bd-custom{
        border-bottom-color: #00AAFF;
    }
    .b-custom{
        border-color: #00AAFF;
    }
    .custom-select{
        height: auto;
        border: none;
        box-shadow: none;
        padding-top: 0;
    }
}
@media (max-width: 567px) {
    .invoiceDetail{
        width: 100%;
        overflow: scroll;
    }
    .actionBtns{
        button{
            min-width: 80px!important;
        }
    }
}